body {
    font-family: Quicksand, sans-serif;
    text-align: center;
    padding-top: 10%;
}
/* img:hover {
    -webkit-transform: scale(3.5,3.5);
} */
table {
    margin: auto;
    width: 40%;
    padding-top: 5%;
}
.icon {
    text-align: right;
    padding-bottom: 0%;
}
button {
    font-family: Quicksand;
}